# Week 1 handin

## 01 Assignment
Here is the text for the assignment linked to

## 02 Status
Here is a status on the handin. How far you got. What is implemented and what is not

## 03 Solution part 1 - Create 5 list comprehensions to solve the following 5 problems:

In [1]:
# 1.A Iterate a list of names to return a list of the names starting with H

In [2]:
names = ['John', 'Hans', 'Denny', 'Holger', 'Hansi', 'Günther', 'Anna', 'Henriette', 'Emma']
h_letter = 'H'
output = []

for name in names:
    if(name[0] == h_letter):
        output.append(name)

print(output)

['Hans', 'Holger', 'Hansi', 'Henriette']

In [3]:
# 1.B In one line create a list of the numbers 1-100 to the power of 3

In [4]:
numbers = list(num**3 for num in range(1,100+1))
print(numbers)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [5]:
# 1.C Iterate a list of names to create a list of tuples where the tuples first value is the length of the name and the second is the name

In [6]:
names = ['John', 'Hans', 'Denny', 'Holger', 'Hansi', 'Günther', 'Anna', 'Henriette', 'Emma']
names_and_lengths = []

for name in names:
    names_and_lengths.append(len(name))
    names_and_lengths.append(name)

output = tuple(names_and_lengths)
print(output)

(4, 'John', 4, 'Hans', 5, 'Denny', 6, 'Holger', 5, 'Hansi', 7, 'Günther', 4, 'Anna', 9, 'Henriette', 4, 'Emma')

In [7]:
# 1.D Iterate over each character in a string and get only those that are nummeric

In [8]:
long_string = 'hab3b403bkklfk3b2obifb3'
long_string_numerics = []

for character in long_string:
    if(character.isnumeric()):
        long_string_numerics.append(character)

print(long_string_numerics)

['3', '4', '0', '3', '3', '2', '3']

In [9]:
# 1.E Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

In [10]:
dice_1 = {1, 2, 3, 4, 5, 6}
dice_2 = {1, 2, 3, 4, 5, 6}
two_dice = [dice_1, dice_2]
combinations = {}

for combination in range(len(dice_1)*len(dice_2)+1):
    for num in dice_1:
        combinations[num] = str(num)

print(combinations)

{1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6'}

## 04 Solution part 2 - Create 2 dictionary comprehensions to solve the following:

In [11]:
# 2.A Iterate a list of names and create a dictionary where key is the name and value is the length of the name

In [12]:
names = ['John', 'Hans', 'Denny', 'Holger', 'Hansi', 'Günther', 'Anna', 'Henriette', 'Emma']
names_dict = dict()

for name in names:
    names_dict[name] = len(name)

print(names_dict)

{'John': 4, 'Hans': 4, 'Denny': 5, 'Holger': 6, 'Hansi': 5, 'Günther': 7, 'Anna': 4, 'Henriette': 9, 'Emma': 4}

In [13]:
# 2.B Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

In [16]:
import math

numbers = [32, 142, 241, 23, 16, 23, 25, 543, 654, 987, 765, 432, 132]
numbers_dict = dict()

for number in numbers:
    numbers_dict[number] = math.sqrt(number)

print(numbers_dict)

{32: 5.656854249492381, 142: 11.916375287812984, 241: 15.524174696260024, 23: 4.795831523312719, 16: 4.0, 25: 5.0, 543: 23.302360395462088, 654: 25.573423705088842, 987: 31.416556144810016, 765: 27.65863337187866, 432: 20.784609690826528, 132: 11.489125293076057}