# Week 4 handin

## 01 Assignment

## Ex1 Use data from Danmarks Statistik - Databanken
1. Go to https://www.dst.dk/da/Statistik/brug-statistikken/muligheder-i-statistikbanken/api#testkonsol
2. Open 'Konsol' and click 'Start Konsol'
3. In the console at pt 1: choose 'Retrieve tables', pt 2: choose get request and json format and pt 3: execute:
  1. check the result
  2. in the code below this same get request is used to get information about all available data tables in 'databanken'. 
4. Change pt. 1 in the console to 'Retrieve data', pt 2: 'get request' and Table id: 'FOLK1A', format: csv, delimiter: semicolon and click: 'Variable and value codes' and choose some sub categories (Hint: hover over the codes to see their meaning). Finally execute and see what data you get.
5. With data aggregation and data visualization answer the following questions:
  1. What is the change in pct of divorced danes from 2008 to 2020?
  2. Which of the 5 biggest cities has the highest percentage of 'Never Married' in 2020?
  3. Show a bar chart of changes in marrital status in Copenhagen from 2008 till now
  4. Show 2 plots in same figure: 'Married' and 'Never Married' for all ages in DK in 2020 (Hint: x axis is age from 0-125, y axis is how many people in the 2 categories). Add lengend to show names on graphs
  
## Ex2 Use another table (extra)
Choose any of the other tables in 'databanken' to find interesting data.
1. Collect the data
2. Pose 5 or more interesing questions to the data
3. Answer the questions by aggregating the data
4. Illustrate the answers with visual plots

## 02 Status

## 03 Solution part 1

In [1]:
import requests

def download_csv_file_to_data(url, header_splitter, filename):
    try:
        response = requests.get(url)
        fname = response.headers[header_splitter].split('=')[1]
        fname = 'data/week5/'+filename+'.csv'

        if response.ok:
            with open(fname, 'wb') as f:
                f.write(response.content)
    except error:
        print("Something went wrong.", error)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1.1, 1.2, 1.3, 1.3.A, 1.3.B, 1.4
# 1.5.A

url_5a = "https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&Tid=2008K1%2C2020K1&CIVILSTAND=F"
filename_5a = "divorced"
download_csv_file_to_data(url_5a, 'Content-Disposition', filename_5a)


data_5a = pd.read_csv('data/week5/divorced.csv', delimiter=";")
data_5a_indhold = data_5a['INDHOLD']
percent = (((data_5a_indhold[1] - data_5a_indhold[0]) / data_5a_indhold[0]) * 100)

print("Exercise 1.5.A - Procent stigning:", percent)

Exercise 1.5.A - Procent stigning: 26.983845694672436

In [3]:
# 1.5.B

url_5b_1 = "https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=*"
filename_5b_1 = "cities"
download_csv_file_to_data(url_5b_1, 'Content-Disposition', filename_5b_1)
data_5b_1 = pd.read_csv('data/week5/cities.csv', delimiter=";")
data_5b_1

                 OMRÅDE     TID  INDHOLD
0           Hele landet  2021K1  5840045
1    Region Hovedstaden  2021K1  1855084
2             København  2021K1   638117
3         Frederiksberg  2021K1   103677
4                Dragør  2021K1    14569
..                  ...     ...      ...
100               Morsø  2021K1    20066
101              Rebild  2021K1    30518
102             Thisted  2021K1    43160
103     Vesthimmerlands  2021K1    36362
104             Aalborg  2021K1   219487

[105 rows x 3 columns]